@tailwind base;
@tailwind components;
@tailwind utilities;



.item-group {
    --xyz-rotate-z: 1turn;
    --xyz-origin: center -200%;
    --xyz-duration: 5s;
    --xyz-scale-x: 0;
    --xyz-scale-y: 0;
}



@font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
}

@font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
}

@font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
}

.purples {
    font-palette: --Purples;
}


@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}